<mat-toolbar color="primary" class="rpg-header">
  <span class="logo">
    <a [routerLink]="isUserAuthenticated ? '/ui/menu/character' : '/'">Game</a>
  </span>
  <span class="spacer"></span>
  <ul class="nav-links">
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/ui/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!isUserAuthenticated">
      <a mat-button routerLink="/ui/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="isUserAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>