<div class="auth-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="emailOrUsername">Email or Username:</label>
      <input id="emailOrUsername" type="text" formControlName="emailOrUsername"
             placeholder="Enter your email or username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" placeholder="Enter your password">
    </div>
    <!-- TODO: put back [disabled]="!loginForm.valid" to button -->
    <button type="submit">Login</button>
  </form>
</div>