/* CHARACTER TILE */
.char-details {
  height: 100%;
  width: 100%;
}

/* CURRENCY TILE */
.character-currency {
  height: 100%;
  width: 100%;
}

/* EQUIPMENT TILE */
.character-equipment {
  text-align: center;
  height: 100%;
  width: 100%
}

/* INVENTORY TILE */
.character-inventory {
  text-align: center;
  height: 100%;
  width: 100%;
}

.button {
  text-align: center;
  text-decoration: none;
  position: fixed;
  top: 84%;
  left: 93%;
}
