<mat-card *ngIf="!isLoading">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [ngStyle]="{'background-color': 'red'}">
      <app-character-details [characterData]="playerCharacter" style="height: 100%; width: 100%">
      </app-character-details>
    </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'background-color': 'green'}">
      <div class="character-equipment">
        <h2>Equipment</h2>
        <div class="character-equipment-slots">
          <div id="equip-slot" cdkDropList [cdkDropListData]="equipmentSlots" class="equipment-slot-list"
               cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropEquipment($event)"
               [cdkDropListConnectedTo]="['inventory']">
            <span class="equipment-slot" *ngFor="let eSlot of equipmentSlots">
              <span *ngIf="!eSlot.equipment">{{eSlot.slot}}</span>
              <span class="equipment-slot-item" [cdkDragData]="eSlot.equipment" [cdkDragDisabled]="!eSlot.equipment"
                    cdkDrag><span *ngIf="eSlot.equipment" (click)="openItemDialog(eSlot.equipment)">{{
                  eSlot.equipment.name }}</span>
              </span>
            </span>
          </div>
        </div>
      </div>

    </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'background-color': 'blue'}" [colspan]="2">
      <div class="character-inventory">
        <h2>Inventory</h2>

        <div id="inventory" cdkDropList [cdkDropListData]="inventory" cdkDropListOrientation="horizontal"
             class="inventory-list" (cdkDropListDropped)="dropInventory($event)"
             [cdkDropListConnectedTo]="['equip-slot']">
          <span class="inventory-slot" *ngFor="let invSlot of inventory">
            <span class="inventory-slot-item" [cdkDragData]="invSlot.item" [cdkDragDisabled]="!invSlot.item" cdkDrag>
              <span *ngIf="invSlot.item" [matTooltip]="invSlot.item.name"
                    (click)="openItemDialog(invSlot.item)">{{invSlot.item.itemType}}</span>
            </span>
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
