<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading" class="character-page">
  <mat-grid-list cols="5" rowHeight="2:3">
    <mat-grid-tile [colspan]="characterTile.cols" [rowspan]="characterTile.rows">
      <mat-card class="character-details">
        <h1>{{ playerCharacter.name }}</h1>
        <mat-card-subtitle>Level {{ playerCharacter.level}}</mat-card-subtitle>
        <mat-card-subtitle>[{{ playerCharacter.currentExperience }}/{{
          playerCharacter.maxExperience}}]</mat-card-subtitle>
        <mat-card-content>
          <app-character-attributes [characterId]="playerCharacter.characterId">
          </app-character-attributes>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="currencyTile.cols" [rowspan]="currencyTile.rows">
      <div class="character-currency">
        <app-character-currencies [characterId]="playerCharacter.characterId"></app-character-currencies>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="equipmentTile.cols" [rowspan]="equipmentTile.rows">
      <div class="character-equipment">
        <app-character-equipment [characterId]="playerCharacter.characterId"></app-character-equipment>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="inventoryTile.cols" [rowspan]="inventoryTile.rows">
      <div class="character-inventory">
        <app-character-inventory [characterId]="playerCharacter.characterId"></app-character-inventory>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
