mat-progress-bar {
  width: 400px;
  height: 100px;
}

.adventure-card {
  border: 1px solid white;
}

.adventure-action-buttons {
  background-color: aliceblue;
}

.adventures-viewport {
  height: 100%;
  width: 100%;
}

.adventure-item {
  height: 100%;
}

.clickable-item {
  cursor: pointer;
}
