<div *ngIf="!areAdventuresLoading; else loadingDataSpinner">
  <mat-card class="adventure-card" *ngFor="let adventure of adventures">
    <mat-card-title>{{ adventure.name }}</mat-card-title>
    <mat-card-subtitle>
      Level: {{ adventure.adventureLevel }}<br>
      Time: {{ adventure.timeInSeconds }} seconds
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngFor="let reward of adventure.rewards">
        <span *ngIf="isReward(reward.rewardId)">
          Reward:<br>
          <span *ngIf="reward.rewardId.experience > 0">Experience: {{ reward.rewardId.experience}}<br></span>
          <span *ngIf="reward.rewardId.currencies.length > 0">
            Currency:<br>
            <span *ngFor="let currency of reward.rewardId.currencies">
              <span *ngIf="isCurrency(currency.currencyId)">{{ currency.currencyId.label }}: {{
                currency.amount}}<br></span>
            </span>
          </span>
          <span *ngIf="reward.rewardId.items.length > 0">
            Item:<br>
            <span *ngFor="let item of reward.rewardId.items">
              <span *ngIf="isItem(item.itemId)">{{item.itemId.name}}</span>
            </span>
          </span>
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" type="button" class="adventure-action-buttons"
              (click)="onStartAdventure(adventure._id)">Start
        Adventure</button>
      <ng-template #cancelButtons>
        <button mat-button class="adventure-action-buttons" color="primary" type="button">Cancel</button>
        <button mat-button class="adventure-action-buttons" color="primary" type="button">Skip</button>
      </ng-template>
    </mat-card-actions>
    <ng-container>
      <div *ngIf="adventure.requiredLevel > 1">
        Required level: {{ adventure.requiredLevel }}
      </div>
    </ng-container>

    <!-- <mat-progress-bar *ngIf="adventure.adventureState === adventureState_InProgress" mode="determinate"
                      [value]="adventure.timer.progressPercent" color="warn">
    </mat-progress-bar> -->
  </mat-card>
  <!-- <ng-container *ngIf="adventure.adventureState === adventureState_Finished">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        Player HP: TBD<br>
        Player Damage: TBD
      </mat-grid-tile>
      <mat-grid-tile>
        Enemy HP: TBD<br>
        Enemy Damage: TBD
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container> -->
</div>
<ng-template #loadingDataSpinner>
  <h1>NO DATA CURRENTLY AVAILABLE.</h1>
</ng-template>
<ng-template #noCharData>
  <h1>NO CHARACTER DATA</h1>
</ng-template>