<div *ngIf="!areAdventuresLoading; else loadingDataSpinner">
  <mat-grid-list cols="2" rowHeight="100px">
    <!-- Header Section -->
    <mat-grid-tile>
      <h1>Available Adventures</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <h1>Adventures in Progress {{ adventuresInProgress.length }}/3</h1>
    </mat-grid-tile>

    <!-- Available Adventures List -->
    <mat-grid-tile rowspan="7">
      <cdk-virtual-scroll-viewport itemSize="100" class="adventures-viewport">
        <div *cdkVirtualFor="let adventure of adventures" class="adventure-item">
          <mat-card class="adventure-card">
            <mat-card-title>[{{ adventure._id }}] {{ adventure.name }}</mat-card-title>
            <mat-card-subtitle>
              Level: {{ adventure.adventureLevel }}<br />
              Time: {{ adventure.timeInSeconds }} seconds
            </mat-card-subtitle>
            <mat-card-content>
              <ng-container *ngFor="let reward of adventure.rewards">
                <ng-container *ngIf="isReward(reward.rewardId)">
                  <div>
                    <span *ngIf="reward.rewardId.experience > 0">
                      {{ reward.rewardId.experience }} XP<br />
                    </span>
                    <span *ngIf="reward.rewardId.currencies.length > 0">
                      <span *ngFor="let currency of reward.rewardId.currencies">
                        <span *ngIf="isCurrency(currency.currencyId)">
                          {{ currency.amount }} {{ currency.currencyId.label }}<br />
                        </span>
                      </span>
                    </span>
                    <span *ngIf="reward.rewardId.items.length > 0">
                      <span *ngFor="let item of reward.rewardId.items">
                        <span *ngIf="isItem(item.itemId)">
                          <span class="clickable-item" [ngClass]="'quality-' + item.itemId.quality.toLowerCase()"
                                (click)="openItemDetailsDialog(item.itemId)">
                            <strong>[{{ item.itemId.name }}]</strong>
                          </span>
                        </span>
                      </span>
                    </span>
                  </div>
                </ng-container>
              </ng-container>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="onStartAdventure(adventure._id)"
                      class="adventure-action-buttons">
                Start Adventure
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-grid-tile>

    <!-- Adventures in Progress List -->
    <mat-grid-tile rowspan="3">
      <cdk-virtual-scroll-viewport itemSize="100" class="adventures-viewport" *ngIf="adventuresInProgress.length > 0">
        <div *cdkVirtualFor="let result of adventuresInProgress" class="adventure-item">
          <mat-card class="adventure-card">
            <mat-card-title>{{ result.adventureName }}</mat-card-title>
            <mat-card-content>
              Completes: {{ result.timeFinish | date: 'mediumTime' }}
              <mat-progress-bar mode="determinate" [value]="getProgressMapValue(result._id) || 0"></mat-progress-bar>
              {{getProgressMapValue(result._id)}}%
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="onCancelAdventure(result._id)"
                      class="adventure-action-buttons">
                Cancel
              </button>
              <button mat-button color="primary" (click)="onSkipAdventure(result)" class="adventure-action-buttons">
                Skip
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-grid-tile>

    <!-- Finished Adventures Header -->
    <mat-grid-tile>
      <h1>Finished Adventures {{ adventureResultsWithoutCollectedRewards.length }}/10</h1>
    </mat-grid-tile>

    <!-- Finished Adventures List -->
    <mat-grid-tile rowspan="3">
      <cdk-virtual-scroll-viewport itemSize="100" class="adventures-viewport"
                                   *ngIf="adventureResultsWithoutCollectedRewards.length > 0">
        <div *cdkVirtualFor="let result of adventureResultsWithoutCollectedRewards" class="adventure-item">
          <mat-card class="adventure-card">
            <mat-card-title>{{ result.adventureName }}</mat-card-title>
            <mat-card-content>
              Completed: {{ result.timeFinish | date: 'short' }}
              <br>
              <div>
                <span *ngIf="result.reward.experience > 0">
                  {{ result.reward.experience }} XP<br />
                </span>
                <span *ngIf="result.reward.currencies.length > 0">
                  <span *ngFor="let currency of result.reward.currencies">
                    <span *ngIf="isCurrency(currency.currencyId)">
                      {{ currency.amount }} {{ currency.currencyId.label }}<br />
                    </span>
                  </span>
                </span>
                <span *ngIf="result.reward.items.length > 0">
                  <span *ngFor="let item of result.reward.items">
                    <!-- TODO: itemId is just ID, should check cache for the item details -->
                    <span *ngIf="isItem(item.itemId)">
                      <span class="clickable-item" [ngClass]="'quality-' + item.itemId.quality.toLowerCase()"
                            (click)="openItemDetailsDialog(item.itemId)">
                        <strong>[{{ item.itemId.name }}]</strong>
                      </span>
                    </span>
                  </span>
                </span>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" class="adventure-action-buttons" (click)="onCollectReward(result)">
                Collect Reward
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Loading Spinner -->
<ng-template #loadingDataSpinner>
  <h1>NO ADVENTURES DATA CURRENTLY AVAILABLE</h1>
</ng-template>
