#equipment-card {
  height: 100%;
  width: 100%;
}

#equipment-all-container {
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.equipment-slot {
  display: inline-flex;
  height: 72px;
  width: 72px;
  margin: 2px;
  border: solid 4px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.equipment-slot-item {
  position: absolute; /* Position it absolutely within .inventory-slot */
  top: 38px; /* Adjust to position above the h3 */
  height: 64px; /* Fixed height */
  width: 64px; /* Fixed width */
  outline-color: blue;
  outline-style: groove;
  background: white;
  font-size: 14px;
}

.options {
  padding-left: 20px;
  margin-top: 5px;
}

.options ul {
  list-style: none;
  padding: 0;
}

.options li {
  cursor: pointer;
  padding: 5px;
  width: 80px;
  height: 24px;
  outline-color: greenyellow;
  outline-style: double;
  z-index: 100;
  position: relative;
  background-color: aqua;
}
