<div *ngIf="characterEquipment.length === 0">
  <h1>NO EQUIPMENT DATA</h1>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card id="equipment-card">
  <mat-card-title>EQUIPMENT</mat-card-title>
  <mat-card-content id="equipment-all-container" *ngIf="!isLoading">
    <span class="equipment-left-container">
      <span class="equipment-slot-left" *ngFor="let leftSlot of leftEquipment">
        <span *ngIf="isItemObject(leftSlot.itemId)" (click)="onItemClick(leftSlot.itemId)">
          <img [src]="leftSlot.itemId.icon" alt="Item Image" />
        </span>
        <div *ngIf="selectedItem === leftSlot.itemId && selectedItem !== null" class="options">
          <ul>
            <li (click)="onUnequip(leftSlot._id)">Unequip</li>
          </ul>
        </div>
      </span>
    </span>
    <span class="equipment-bottom-container">
      <span class="equipment-slot-bottom" *ngFor="let bottomSlot of bottomEquipment">
        <span *ngIf="isItemObject(bottomSlot.itemId)">
          <img [src]="bottomSlot.itemId.icon" alt="Item Image" />
        </span>
      </span>
    </span>
    <span class="equipment-right-container">
      <span class="equipment-slot-right" *ngFor="let rightSlot of rightEquipment">
        <span *ngIf="isItemObject(rightSlot.itemId)">
          <img [src]="rightSlot.itemId.icon" alt="Item Image" />
        </span>
      </span>
    </span>
  </mat-card-content>
</mat-card>