<div *ngIf="characterEquipment.length === 0">
  <h1>NO EQUIPMENT DATA</h1>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card id="equipment-card">
  <mat-card-title>EQUIPMENT</mat-card-title>
  <mat-card-content id="equipment-all-container" *ngIf="!isLoading">
    <span class="equipment-slot" *ngFor="let equipment of characterEquipment">
      {{equipment.slot}}
      <span *ngIf="equipment.itemId" class="equipment-slot-item">
        <span *ngIf="isItemObject(equipment.itemId)" (click)="onItemClick(equipment.itemId)">
          <img [src]="equipment.itemId.icon" alt="Item Image" />
        </span>
        <div *ngIf="selectedItem === equipment.itemId && selectedItem !== null" class="options">
          <ul>
            <li (click)="openItemDetailsDialog(equipment.itemId)">Details</li>
            <li (click)="onUnequip(equipment._id)">Unequip</li>
            <li (click)="onSell(equipment._id)">Sell</li>
          </ul>
        </div>
      </span>
    </span>
  </mat-card-content>
</mat-card>