<mat-card style="height: inherit;">
  <mat-card-title>{{ characterData.name }}</mat-card-title>
  <mat-card-subtitle>Level {{ characterData.level}}</mat-card-subtitle>
  <mat-card-subtitle>[{{ characterData.currentExperience }}/{{ characterData.maxExperience}}]</mat-card-subtitle>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-tab-group *ngIf="!isLoading">
      <mat-tab label="Main">
        {{allAttributesHealth.label}}: {{characterHealthTotal}}<br>
        {{allAttributesPower.label}}: {{characterPowerTotal}}<br>
        Damage: {{characterMinDamageTotal}} - {{characterMaxDamageTotal}}
      </mat-tab>
      <mat-tab label="Primary">
        <cdk-virtual-scroll-viewport [itemSize]="1 * 1" class="character-stats">
          <div *cdkVirtualFor="let attribute of primaryAttributes">
            <span>{{attribute.label}} {{attribute['base-value'] + attribute['added-value']}} <span
                    *ngIf="attribute.percent">%</span></span>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
      <mat-tab label="Secondary">
        <cdk-virtual-scroll-viewport [itemSize]="1 * 1" class="character-stats">
          <div *cdkVirtualFor="let attribute of secondaryAttributes">
            <span>{{attribute.label}}: {{attribute['base-value'] + attribute['added-value']}} <span
                    *ngIf="attribute.percent">%</span></span>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
      <mat-tab label="Misc">
        <cdk-virtual-scroll-viewport [itemSize]="1 * 1" class="character-stats">
          <div *cdkVirtualFor="let attribute of miscAttributes">
            <span>{{attribute.label}}: {{attribute['base-value'] + attribute['added-value']}} <span
                    *ngIf="attribute.percent">%</span></span>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
      <mat-tab label="Currency">
        <cdk-virtual-scroll-viewport [itemSize]="1 * 1" class="character-stats">
          <div *cdkVirtualFor="let currency of characterData.currencies">
            <span>{{currency.label}}: {{currency.amount}}<span *ngIf="currency.cap"> / {{currency.cap}}</span></span>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>