mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  background: #7b1fa2;
}
