/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Cinzel', serif;
  background: linear-gradient(135deg, #2c1a1a, #4d2e1e);
}

